@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'vazir';
}

body {
  font-family: "vazir";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.search-icon {
  background: green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-icon svg {
  color: white;
  font-size: 25px;
}

.search-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(89, 149, 227);
  opacity: 0;
  visibility: hidden;
}

.search-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  opacity: 0;
  visibility: hidden;
}

.search-popup .form-group {
  width: 100%;
  position: relative;
}

.search-popup .form-group input {
  width: 100%;
  height: 60px;
  border: none;
  font-family: 'vazir';
  outline: none;
  font-size: 18px;
  border-radius: 30px;
  padding: 0 20px 0 90px;
  box-sizing: border-box;
}

.search-popup .form-group .submit-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 60px;
  background: blue;
  color: white;
  border-radius: 30px 0 0 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}