@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  font-family: "vazir";
  background: rgb(65, 175, 207);
  background: linear-gradient(    90deg,
        rgba(65, 175, 207, 1) 0%,
        rgba(212, 228, 44, 1) 0%,
        rgba(0, 212, 255, 1) 100%  );
}

header {
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  color: white;
  width: 100%;
  text-align: center;
}

header h2 {
  padding: 20px 0;
  font-size: 2rem;
}

header .progress {
  width: 100%;
  height: 10px;
  background-color: rgb(104, 231, 189);
}

header .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(65,175,207,1) 0%, rgba(228,133,44,1) 0%, rgba(0,48,255,1) 100%);
}