@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  font-family: "vazir";
}

header {
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  color: white;
  width: 100%;
  text-align: center;
}

h2 {
  padding: 20px 0;
  font-size: 2rem;
}

header .progress {
  width: 100%;
  height: 10px;
  background-color: rgb(159, 173, 168);
}

header .progress .progress-bar {
  width: 0;
  height: 100%;
  background: linear-gradient(to right, rgba(65,175,207,1) 0%, rgba(228,133,44,1) 0%, rgba(0,48,255,1) 100%);
}

section {
  margin-top: 150px;
  padding: 50px 100px;
}

section p {
  font-size: 1.5rem;
  line-height: 30px;
  margin-bottom: 50px;
  margin-top: 30px;
}