@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "vazir";
  height: 100vh;
}

section {
  height: 100vh; /* vh = The size that can be displayed to the user. */
  display: flex;
  align-items: center; /* Place in the middle of the width */
  justify-content: center; /* Place in the middle of the length */
  color: white;
  font-size: 45px;
}

#sectionOne {
  background: yellow;
}

#sectionTwo {
  background: purple;
}

#sectionThree {
  background: green;
}

#sectionFour {
  background: red;
}

#sectionFive {
  background: blue;
}