@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "vazir";
  height: 100vh;
}

section {
  height: 100vh; /* vh = The size that can be displayed to the user. */
  display: flex;
  align-items: center; /* Place in the middle of the width */
  justify-content: center; /* Place in the middle of the length */
  color: white;
  font-size: 45px;
}

#sectionOne {
  background: yellow;
}

#sectionTwo {
  background: purple;
}

#sectionThree {
  background: green;
}

#sectionFour {
  background: red;
}

#sectionFive {
  background: blue;
}

.go-top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.go-top svg {
  font-size: 30px;
}