@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "vazir";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(65,175,207);
  background: linear-gradient(126deg, rgba(65,175,207,1) 0%, rgba(85,228,44,1) 0%, rgba(0,151,255,1) 100%);
}

