@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "vazir";
  display: flex;
  height: 100vh;
  background: hsla(197, 100%, 63%, 1);
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
}

.container {
  width: 90vw;
  margin: auto;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

header nav .logo {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
}

header nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}

.banner .imageBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.banner .imageBox img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  opacity: 0;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.banner .imageBox img.active {
  opacity: 1;
}

.controls {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.controls li {
  width: 60px;
  height: 60px;
  background: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.controls li:hover {
  background: rgb(51, 51, 236);
}

.controls li:hover::before {
  border-left: 3px solid white;
  border-bottom: 3px solid white;
}

/*
before and after are an empty space before and after the tag
*/
.controls li::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.controls li:nth-child(2)::before {
  transform: rotate(-130deg);
  -webkit-transform: rotate(-130deg);
  -moz-transform: rotate(-130deg);
  -ms-transform: rotate(-130deg);
  -o-transform: rotate(-130deg);
}