@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "vazir";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: hsla(197, 100%, 63%, 1);
  background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}

a {
  text-decoration: none;
  color: white;
  background: red;
  margin: 0 50px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-family: 'vazir';
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

a:nth-child(2) {
  background: blue;
}

span {
  background: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: animate 1s linear infinite;
  -webkit-animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: .5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}