@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: "vazir";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  margin-bottom: 20px;
  padding: 5px 25px;
  border: 1px solid white;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 1px 4px 5px 0px rgba(1, 1, 1, 0.8);
}

.image-preview {
  width: 300px;
  height: 150px;
  overflow: hidden;
  border: 1px solid white;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 1px 4px 5px 0px rgba(1, 1, 1, 0.8);
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview .uploaded-image {
  display: none;
  width: 100%;
  height: 100%;
}

#input-file::file-selector-button {
  margin-left: 35px;
  font-weight: bold;
  padding: 0.5em;
  border: thin solid rgb(177, 91, 226);
  background-color: rgb(205, 128, 250);
  border-radius: 3px;
  cursor: pointer;
}