@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "vazir";
  height: 100vh;
  overflow-x: hidden; /* disable scroll option */
}

header {
  background: blue;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

header h2 {
  font-size: 35px;
  color: white;
}

header p {
  color: white;
  width: 900px;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}

.content {
  width: 900px;
  margin: 50px auto;
  font-size: 17px;
}

.sidebar {
  height: 100vh;
  position: absolute; /* element is flexible in page */
  left: 0;
  top: 0;
  width: 200px;
  background: rgb(0, 89, 255);
  display: flex;
  flex-direction: column; /* Putting children under each other */
  align-items: center;
  padding: 50px 0;
}

.sidebar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}