@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: "vazir";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 80%;
  margin: 80px auto;
}

.container h1 {
  text-align: center;
  font-size: 60px;
  padding: 60px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  width: calc(50%-20px);
}

.col img {
  width: 100%;
}

.col .video-img {
  width: 100%;
  position: relative;
}

.col .play-btn {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.col .small-img-row {
  background: rgb(54, 250, 191);
  display: flex;
  margin-top: 25px;
  align-items: center;
}

.col .small-img-row p {
  padding: 0 30px;
}

.col .small-img-row .small-img {
  position: relative;
  height: 100%;
}

.col .small-img-row .small-img:nth-child(1) {
  margin-top: 0;
}

.col .small-img-row .small-img .cover {
  width: 200px;
  height: 100%;
}

.col .small-img-row .small-img .play-btn {
  width: 60px;
  height: 60px;
}

.video-player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#videoPlayer {
  display: none;
}

.close-btn {
  width: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}