@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "vazir";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}

.box {
  position: absolute; /* It obeys body */
  top: 40px;
  right: 40px;
  padding: 10px;
  background: white;
  display: flex;
}

.box a {
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  text-indent: -9999px;
}

#red {
  background: #ff0000;
}

#blue {
  background: #0000ff;
}

#green {
  background: #008000;
}

#yellow {
  background: #ffff00;
}

#pink {
  background: #ffc0cb;
}