@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'vazir';
}

body {
  font-family: "vazir";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

form {
  text-align: center;
  width: 600px;
}

div {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  position: relative;
}

label {
  display: block;
  text-align: left;
  font-size: 25px;
  margin-bottom: 10px;
}

select, input {
  width: 100%;
  height: 50px; 
  border: 2px solid rgb(226, 218, 218);
  border-radius: 5px;
  outline: none;
}

input {
  padding-left: 80px;
  box-sizing: border-box;
}

span {
  position: absolute;
  left: 0;
  width: 65px;
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
}