@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: "vazir";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  position: absolute;
  top: 50px;
  left: 100px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  box-shadow: -7px 9px 17px 0px rgb(145, 145, 145);
  border-radius: 5px;
  width: 0;
  opacity: 0;
  overflow: hidden;
  background: white;
  padding: 8px;
  transform: translateX(50px);
  transition: all 0.4s ease-in-out;
}

nav.show ul {
  width: 500px;
  opacity: 1;
  transform: translateX(0);
  }

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 0px 20px;
}

.menu-icon {
  z-index: 1;
  position: absolute;
  top: -8px;
  left: -80px;
  width: 60px;
  height: 60px;
  background-image: url('../images/hamburger-menu-5.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-icon.close {
  transform: rotate(360deg);
  background-image: url('../images/close.png');
}