@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "vazir";
  display: flex;
  height: 100vh;
  background: hsla(197, 100%, 63%, 1);
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
}

.container {
  width: 700px;
  margin: 150px auto;
}

.accordion .accordion-title {
  background: white;
  font-size: 20px;
  padding: 10px;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

.accordion .accordion-title::before {
  content: '+';
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.accordion .accordion-title.active::before {
  content: '-' !important;
  margin-right: 16px;
}

.accordion .accordion-content {
  background: white;
  height: 0;
  /*usefullforifconditioninjs*/overflow: hidden;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}