@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "vazir";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffccbc;
}

.action {
  top: 35%;
  right: 50%;
  position: fixed;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}

.action .profile {
  width: 120px;
  height: 120px;
  background-color: red;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.action .profile img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu {
  position: absolute;
  top: 140px;
  right: 0;
  background: white;
  width: 400px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.action .menu h3 {
  text-align: center;
  padding: 20px;
  font-weight: 900;
  box-sizing: border-box;
  width: 100%;
}

.action .menu h3 span {
  font-size: 14px;
  color: #777;
}

.action .menu ul {
  width: 100%;
  list-style: none;
  padding: 0 30px;
  box-sizing: border-box;
}

.action .menu ul li {
  display: flex; /* place childs side by side */
  align-items: center;
  padding: 2px 0;
}

.action .menu ul li i {
  width: 30px;
  margin-left: 10px;
  opacity: 0.6;
}
