@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "vazir";
  background: rgb(65, 175, 207);
  background: linear-gradient(
    126deg,
    rgba(65, 175, 207, 1) 0%,
    rgba(85, 228, 44, 1) 0%,
    rgba(254, 255, 0, 1) 100%
  );
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
}

.content {
  width: 1000px;
  margin: 50px auto;
}

.content img {
  width: 100%;
}

.content small {
  color: gray;
}

.content p {
  line-height: 25px;
}

.content h3 {
  padding: 20px 0;
}